/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: brown;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos de la sección "Contacto" */
.contacto {
    background-color: blanchedalmond;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.contacto h2 {
    color: #333;
}

.contacto ul {
    list-style-type: none;
    padding: 0;
}

.contacto ul li {
    margin-bottom: 10px;
}

.contacto form {
    margin-top: 20px;
}

.contacto label {
    display: block;
    margin-bottom: 5px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contacto input[type="submit"] {
    background-color: blanchedalmond;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos del pie de página */
footer {
    background-color: brown;
    color: black;
    text-align: center;
    padding: 10px 0;
}
